body{
    letter-spacing: 0.02em;
}
section{
    padding: 100px;
}
p{
    font-weight: 300;
}
.btn {
    outline-color: #8064A2;
    border-color: #8064A2;
    background-color: #8064A2;
    color: #fff;
}
@media (max-width: 450px) {
    section{
        padding: 20px;
    }
}